.registrationTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.registrationTab> :nth-child(1) {
    display: flex;
}

.pageHeader {
    width: 100%;
    display: flex;
    align-items: center;
}

.headerTitle {
    margin-right: 0.5rem;
}

.changeTitle {
    width: 100%;
    display: flex;
}

.changeTitle> :nth-child(1) {
    margin-right: 0.5rem;
}

.timer {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    padding: 4px;
    font-weight: bold;
}

.competitorList {
    margin-top: 0.5rem;
}