.tournamentStatistic {
    margin-top: 1em;
    border: 1px solid black;
}

.tournamentsMatches {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.tournamentsMatches>.ant-list-header {
    display: flex;
    justify-content: center;
}